* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  color: #333;
  background-color: #f8f8f8;
  padding: 4rem;
}

button {
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  background: none;
}

input,
button {
  outline: 0;
}